<div class="thumb_line">
  <% # TODO: cache thumbnails %>
  <%= image_tag "http://img.youtube.com/vi/#{video.video_id}/2.jpg", :alt => video.title, :class=>"thumbnail" %>
  <div class="description">
    <h3><%= video.title%></h3>
    <p><%= video.description%></p>
  </div>
  <div class="clear"></div>
</div>
