<% javascript_tag :defer => 'defer' do -%>
gallery = $('#video_gallery').galleryView({
	panel_width: 716,
	panel_height: 444,
	frame_width: 130,
	frame_height: 97,
});
<% end %>

<div id="video_gallery" class="galleryview">
  <% videos.each do |video|  %>
    <div class="panel">
      <%= render :partial => "embed_youtube", :locals => {:video => video, :size =>0} %>
    <div class="panel-overlay">
      <strong><%= video.title%></strong>
      <p><%= video.description %></p>
    </div>
    </div>
  <% end %>

  <ul class="filmstrip">
    <% @videos.each do |video|  %>
      <li><%= render :partial => "thumbnail_youtube", :locals => {:video => video, :size =>2} %></li>
    <% end %>
  </ul>
</div>

