<% title "Welcome to Video Tweet Gallery", false %>

<div class="player">

  <div class="tweetbox">
    <% if current_user %>
      <%= render :partial => 'users/tweets' %>
    <% else %>
      <%= render :partial => 'user_sessions/login' %>
    <% end %>
  </div> 

  <% if @videos.size > 0 %>
    <%= render :partial => 'video_gallery', :locals => {:videos => @videos} %>
  <% else %>
    <h2>You have not added any videos</h2>
  <%end%>

</div>


